@media only screen and (max-width: 768px) {

    .action-wrapper {
    
    text-align:center;
    }

    body > div.container-fluid > div > div > section > div {
        /* vertically align inside its parent */
        display: block;
        vertical-align: middle;
        text-align: left;
        padding: 0;
        background: #ffffff;
        -webkit-font-smoothing: antialiased;
    }

    #tablelogoff {
      
       min-width:90%;
     
    }



    #chatBody {
        font-family: 'PT Serif',Georgia,'Times New Roman',Times,serif;
        font-size: medium;
        width: 100%;
        color: #000;
        margin: 0 auto;
    }


    #homePage > div {
        border-left: none;
        min-width:100%;
    }

    /*#icon{
      font-size:12px;
      text-align:left;
      float:left;
     
      
  }*/

    /*#icontext{
   padding-top:20px;
   padding-left:3px;
  }*/

    /*#icon img {
        float: left;
        
    }*/

    #table > tbody > tr > td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        max-width: 170px;
        word-wrap: break-word;
        vertical-align: top;
        padding-bottom:10px;
    }


    #chatusers {
        width: 90px;
    }

        #chatusers p {
            font-size: 8px;
        }


    #sendmessage {
        margin-top: 7px;
        margin-bottom: 5px;
    }


    button.dropbtn {
        font-size: 12px;
        padding-top: 10px;
    }

    p {
        font-size: 14px;
    }

        p.indexPageText {
            font-size: 12px;
            text-align: left;
        }

    a.navbar-brand {
        font-size: small;
    }

    #header.usersonline {
        font-size: 10px;
        font-weight: lighter;
        font-variant: normal;
        color: #fb5e58;
        letter-spacing: normal;
        padding-right: 15px;
    }

    body > div.container-fluid > div > div > div.dropdown > p {
        font-size: 10px;
        letter-spacing: normal;
    }

    table {
        font-size: 12px;
        min-width:90%;
    }

    #groupName {
        font-size: small;
        font-weight: lighter;
        font-variant: normal;
        color: #ffffff;
        font-stretch: semi-condensed;
    }

        #groupName p {
            font-size: small;
            font-weight: lighter;
            font-variant: normal;
            color: #fb5e58;
            font-stretch: semi-condensed;
        }
}

/*.glyphicon {
    font-family: 'PT Serif', Georgia, 'Times New Roman';
}*/
.seeArticles, .hideArticles {
    font-size: 11px;
    color: #fb5e58;
    text-align: center;
    padding-right: 4%;
    cursor: pointer;
}

#homePage {
    width: 100%;
    text-align: left;
    float: left;
    margin-top: 60px;
    margin-bottom: 20px;
    display: table;
    word-wrap: break-word;
}




#like::before {
    font-size: 23px;
    color: #fb5e58;
    vertical-align: middle;
    margin: 0 0 10px;
}

#like:hover {
    vertical-align: middle;
    font-size: 20px;
    color: #fb5e58;
    margin: 0 0 10px;
}


#back-to-top {
    position: fixed;
    bottom: 55px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    font-size: x-large;
    text-align: center;
    line-height: 30px;
    color: #339933;
}

footer {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    float: left;
    padding-left: 1em;
    font-size: x-small;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.usersonlinenames {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    padding-top: 3px;
    width: 100%;
    float: left;
    text-transform: lowercase;
    position: relative;
    padding-left: 15px;
    padding-left: 13px;
    word-wrap: break-word;
}






/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.indexPageText {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    letter-spacing: normal;
    font-weight: 600;
    text-align: center;
    color: #339933;
    font-weight: 400;
    word-wrap: break-word;
}

#chatTime {
}

#chatBody {
    font-family: 'PT Serif',Georgia,'Times New Roman',Times,serif;
    font-size: medium;
    width: 80%;
    color: #000;
    margin: 0 auto;
    vertical-align: middle;
}

#chatroom {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    float: left;
    position: relative;
    overflow-y: visible;
    letter-spacing: normal;
    width: 100%;
    word-wrap: break-word;
}

#userJoin {
    color: #339933;
}

/*Styles form Chatroom*/

#chatroom div:nth-child(even) {
    padding-left: 2em;
}





/*#chatroom p:nth-child(odd) {
    font-size:small;
    color: #08fe6f;
}*/

#chatroom p:nth-child(even) {
    color: #4CAF50;
    font-size: xx-small;
}



#chatroom div > p > b:nth-child(odd) {
    font-size: small;
    color: #fb5e58;
    cursor:pointer;
}

#viewBag, .field-validation-error {
    font-size: small;
    color: #fb5e58;
}


#joinGroup {
    cursor: pointer;
    font-size: small;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: lighter;
    font-variant: normal;
    color: #fb5e58;
    padding-left: 110em;
    margin-left: -110em;
    font-stretch: semi-condensed;
}


#showHistory, #clearHistory, #createNewGroup a > p, #createNewGroup, .loginBlock {
    cursor: pointer;
    font-size: small;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: lighter;
    font-variant: normal;
    color: #fb5e58;
    padding-right: 1px;
    padding-left: 1px;
    font-stretch: semi-condensed;
}

    #showHistory:hover, #clearHistory:hover, #createNewGroup a:hover, #joinGroup:hover, #back-to-top:hover {
        font-variant: normal;
        color: #4CAF50;
        font-stretch: semi-condensed;
    }


#groupName {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: normal;
    word-wrap: break-word;
    font-size: medium;
    font-weight: 500;
    font-variant: normal;
    color: black;
    font-stretch: semi-condensed;
}

    #groupName p {
        font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
        word-wrap: break-word;
        width: 100%;
        letter-spacing: normal;
        font-size: medium;
        font-weight: lighter;
        font-variant: normal;
        color: #fb5e58;
        font-stretch: semi-condensed;
    }



#all, #settings {
    padding-top: 11px;
    padding-left: 11px;
    color: #339933;
    font-weight: lighter;
}

#header {
    padding-top: 11px;
    padding-left: 11px;
    color: #fb5e58;
    font-weight: lighter;
}




/*NavBar Logoff + ChangePassword
    .navbar-nav > li.logoff > a {
        font-family: FangSong;
        font-size: 9px;
        font-weight: lighter;
        font-variant: normal;
        text-transform: uppercase;
        color: #fb5e58;
        text-align: right !important;
        letter-spacing: 0.9em;
    }
    /*NavBar section*/
@media(min-width:769px) and (max-width:1024px) {
    #table > tbody > tr > td {
        padding-right: 10px;
        max-width: 900px;
        word-wrap: break-word;
    }
}

@media(min-width:1025px) and (max-width:2000px) {
    #table > tbody > tr > td {
        padding-right: 10px;
        max-width: 1400px;
        word-wrap: break-word;
    }
}

@media (max-width: 2000px) {
    #tablelogoff > tbody > tr > td:nth-child(1) > img
    {
        float:left;
        

    }

    .historyUserName > p {
        color: black;
    }

        .historyUserName > p > b {
            color: rgb(0, 197, 251);
            cursor: pointer;
        }

    #icontext {
        padding-top: 30px;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        width: 120px;
        font-size: 12px;
        font-weight: 500;
        padding-left: inherit;
    }

    .indexTable {
        border-left: thin solid #4CAF50;
        width: 50%;
        margin: 0 auto;
        vertical-align: middle;
    }

    #navbarIcon {
        float: right;
    }

    /*######################################################*/

    .dropbtn {
        background-color: #ffffff;
        color: #fb5e58;
        padding: 11px;
        border: none;
        cursor: pointer;
        font-size: 13px;
        font-weight: lighter;
        font-variant: normal;
        text-align: right !important;
        letter-spacing: 0.2em;
        margin-right: 5px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        float: right
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 40%;
        max-width: 60%;
        /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
        z-index: 1;
        word-wrap: break-word;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #e5e5e5
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        color: #339933;
        background-color: white;
    }
    /*######################################################*/
    .navbar-inverse .navbar-nav > li > a {
        color: #f5f5f5;
        font-weight: 800;
    }

    .navbar-inverse {
        background-color: #339933;
        border-color: #339933;
        position: relative;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
        border: none;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #339933;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.60);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
            text-align: right;
            color: white;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
                font-size: 11px;
                font-weight: lighter;
                font-variant: normal;
                text-transform: uppercase;
                color: #339933;
                text-align: right !important;
                letter-spacing: 0.3em;
            }

    .collapse.in {
        display: block !important;
    }

    .table {
        font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        color: black;
        letter-spacing: normal;
        width: 80%;
        margin: 0 auto;
        vertical-align: middle;
        word-wrap: break-word;
        margin-bottom: 20px;
    }

    #tablelogoff {
        font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        color: black;
        letter-spacing: normal;
        width: 50%;
        margin: 0 auto;
        vertical-align: middle;
        word-wrap: break-word;
        margin-bottom: 20px;
    }

}


/*IndexPage Section*/
.likes {
    font-size: 10px;
    vertical-align: bottom;
    color: black;
    vertical-align: bottom;
    letter-spacing: 0.3em;
}


.usersonline {
    float: left;
    font-size: 13px;
    font-weight: lighter;
    font-variant: normal;
    color: #339933;
    text-align: left !important;
    word-wrap: break-word;
    padding-right: 15px;
    padding-bottom: 10px;
}




.navbar-brand {
    float: left;
    font-size: large;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1em;
    text-transform: uppercase;
    padding-top: 22px;
    text-align: left !important;
    color: white;
}

.navbar-inverse .navbar-brand {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    color: white;
}



/*.navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;
    text-align: left !important;
    letter-spacing: 0.3em;
    padding-right: 80px;
}*/



*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: large;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #ffffff;
    padding-top: 0px;
    letter-spacing: 3px;
}








label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: black;
}

legend {
    display: block;
    width: 20%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #fb5e58;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #e5e5e5;
}

p {
    margin: 0 0 10px;
    color: black;
}

a {
    font-size: small;
    color: black;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #339933;
        text-decoration: none;
    }

cd-intro {
    position: relative;
    height: 100vh;
    width: 100%;
    /* vertically align its content */
    display: block;
    background: #2e416a;
    overflow: hidden;
}

.cd-intro-content {
    /* vertically align inside its parent */
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}


    .cd-intro-content h1,
    .cd-intro-content h1 span,
    .cd-intro-content p,
    .cd-intro-content .cd-btn {
        color: black;
        opacity: 0;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

.no-cssanimations .cd-intro-content h1, .no-cssanimations .cd-intro-content h1 span, .no-cssanimations .cd-intro-content p, .no-cssanimations .cd-intro-content .cd-btn {
    opacity: 1;
}
/*Text content*/
.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
    opacity: 0;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    color: black;
}

.bouncy.cd-intro-content h1 {
    animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content p {
    animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content p {
    animation-duration: 1s;
    color: #4CAF50;

}

.bouncy.cd-intro-content .cd-btn {
    animation-name: cd-bounce-rotate;
    animation-duration: 0.7s;
}

    .bouncy.cd-intro-content .cd-btn.main-action {
        animation-delay: 0.6s;
    }

@keyframes cd-bounce-right {
    0% {
        opacity: .2;
        transform: translateX(-200px);
    }

    60% {
        opacity: .7;
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cd-bounce-left {
    0% {
        opacity: .2;
        transform: translateX(200px);
    }

    60% {
        opacity: .7;
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cd-bounce-rotate {
    0% {
        opacity: .2;
        transform: perspective(800px) rotateX(-80deg);
    }

    20% {
        opacity: 1;
    }

    60% {
        transform: perspective(800px) rotateX(20deg);
    }

    100% {
        opacity: 1;
        transform: perspective(800px) rotateX(0);
    }
}


.navbar-nav > li.logoff > a {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 9px;
    font-weight: 400;
    font-variant: normal;
    text-transform: uppercase;
    color: #f5f5f5;
    text-align: right !important;
}




/*NavBar section*/


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid rgba(157, 157, 157, 0.18);
    max-width: 100%;
    word-break: break-word;
}

tr:hover {
    background-color: rgba(76, 175, 80, 0.11);
}


.navbar-inverse {
    background-color: #4CAF50;
    border-color: #e5e5e5;
    position: relative;
    width: auto;
    height: auto;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    border: none;
}

.navbar-header {
    float: none;
}

.navbar-left, .navbar-right {
    float: none !important;
}

.navbar-toggle {
    display: block;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    /*background-color: rgba(192,192,192,0.2);*/
    height: auto;
    width: auto;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
}

    .navbar-nav > li {
        float: none;
        text-align: right;
    }

        .navbar-nav > li > a {
            font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
            font-size: 9px;
            font-weight: lighter;
            font-variant: normal;
            text-transform: uppercase;
            color: #e5e5e5;
            text-align: right !important;
            letter-spacing: 0.9em;
        }

.collapse.in {
    display: block !important;
}

.container {
    height: auto;
    width: 100%;
}
